# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
#without using reverse() method
def rev(str):
    return str[::-1]  #string slicing syntax string[star:stop:step], [::-1] returns all the characters of the string in reverse order

str=input("Enter a string: ")
print(rev(str))

2. Check if a string is a palindrome.

In [ ]:
def palin_check(str):
    str="".join(str.split())  #joining all the elements after splitting them character-wise to get rid of white-spaces
    if str==str[::-1]:        #checking if the string reads exact same in reverse order(without any white spaces)
    	return 'It is Palindrome'
    else:
        return 'Not a Palindrome'

print(palin_check(input("Enter a string: ")))

3. Convert a string to uppercase.

In [ ]:
def toUpper(str):
    upper= ''
    for word in str:
        for char in word:
            if ord(char)>96 and ord(char)<123:
                char=ord(char)-32
                to_letters = chr(char)
                upper+=to_letters
            else:
                upper+= char
    return upper
sen = str(input("Enter a word: " ))
print(toUpper(sen))

4. Convert a string to lowercase.

In [ ]:
def toLower(str):
    lower= ''
    for word in str:
        for char in word:
            if ord(char)>64 and ord(char)<91:
                char=ord(char)+32
                to_letters = chr(char)
                lower+=to_letters
            else:
                lower+= char
    return lower
sen = str(input("Enter a word: " ))
print(toLower(sen))

5. Count the number of vowels in a string.

In [ ]:
def vowel_ct(sen):
    ct_a=0
    ct_e=0
    ct_i=0
    ct_o=0
    ct_u=0
    for i in list(sen):
        if(i=='a' or i=='A'):
            ct_a+=1
            
        elif (i == 'e' or  i== "E"):
            ct_e +=1
            
        elif (i == 'i' or  i== "I"):
            ct_i +=1
            
        elif (i == 'o' or  i== "O"):
            ct_o +=1
            
        elif (i == 'u' or  i== "U"):
            ct_u +=1
            
    res=f'Vowel Count: a-> {ct_a}    e-> {ct_e}    i-> {ct_i}    o-> {ct_o}    u-> {ct_u}'
    return res
            

sen=input("Enter a string: ")
vowel_ct(sen)

6. Count the number of consonants in a string.

In [ ]:
def consonant_ct(sen):
    ct=0
    for i in list(sen):
        if(i!='a' and i!='A' and i != 'e' and  i!= "E" and i != 'i' and  i!= "I" and i != 'o' and  i!= "O" and i != 'u' and  i!= "U" and i!=' '):
            ct+=1
    res=f'Total no. of consonants in string: {ct}'
    return res
            

sen=input("Enter a string: ")
consonant_ct(sen)

7. Remove all whitespaces from a string.

In [ ]:
def remove_space(sen):
    sen=list(sen)
    for i in sen:
        if(i==' '):
            sen.remove(i)
    sen=''.join(sen)
    return sen
            

sen=input("Enter a string: ")
remove_space(sen)

8. Find the length of a string without using the `len()` function.

In [ ]:
def str_length(sen):
    ct=0
    for i in list(sen):
       ct+=1
    return ct

sen=input("Enter a string: ")
str_length(sen)

9. Check if a string contains a specific word.

In [ ]:
str=input("Enter a sentence: ")
word=input("Enter a word")
if word in str:
    print(True)
else:
    print (False)

10. Replace a word in a string with another word.

In [ ]:
str=input("Enter a string: ")
str=str.replace(input("Enter word to replace: "), input("Enter new word: "))
print("Modified string: \n", str)

11. Count the occurrences of a word in a string.

In [ ]:
def word_count(str, word):
    ct=0
    for wd in str.split():
        if wd == word:
            ct+=1
    return ct

str=input("Enter a string: ")
word=input("Enter a word to count: ")
print(f"The word '{word}' appears '{word_count(str, word)}' times in the input string")

12. Find the first occurrence of a word in a string.

In [ ]:
str=input("Enter a string: ")
word=input("Enter a word to find: ")
index=str.find(word)
if index == -1:
	print("Word not found in input string")
else:
    print(f"Index of first occurence of {word}: {index}")

13. Find the last occurrence of a word in a string.

In [ ]:
str=input("Enter a string: ")
word=input("Enter a word to find: ")
index=str.rfind(word)
if index == -1:
	print("Word not found in input string")
else:
    print(f"Index of last occurence of {word}: {index}")

14. Split a string into a list of words.

In [ ]:
str=input("Enter a string: ")
list=str.split(' ')
#list of words
print(list)

15. Join a list of words into a string.

In [ ]:
list=input("Enter a list of words separated by comma e.g. Edd,Ed,Eddy: ").split(',')
str=' '.join(list)
#joined string
print(str)

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
str=input("Enter a string: ").split(' ')
str='_'.join(list)
#re-joined string
print(str)

17. Check if a string starts with a specific word or phrase.

In [ ]:
str=input("Enter a string: ")
start_str=input("Enter a string: ")
if str[:len(start_str)] == start_str:
    print("The text starts with the prefix")
else:
    print("The text does not start with the prefix")

18. Check if a string ends with a specific word or phrase.

In [ ]:
str=input("Enter a string: ")
start_str=input("Enter a string: ")
if str[len(start_str)::] == start_str:
    print("The text ends with the prefix")
else:
    print("The text does not end with the prefix")

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
str=input("Enter a string: ")
#we use title() method to convert a string to title case
print(str.title())

20. Find the longest word in a string.

In [ ]:
def find_longest_word(sen):
    #this function accepts a string argument and returns the longest word present in the string by manually checking the length of all the words using len() method and storing the longest word in a variable
    sen=sen.split()
    max_length=0
    max_word=0
    for word in sen:
        if len(word)>max_length:
            max_length=len(word)
            max_word=word
    return max_word

str=input("Enter a string: ")
print('The longest word in the string is:',find_longest_word(str))

21. Find the shortest word in a string.

In [ ]:
def find_shortest_word(sen):
    #this function accepts a string argument and returns the shortest word present in the string by manually checking the length of all the words using len() method and storing the shortest word in a variable
    sen=sen.split()
    min_length=10000
    min_word=''
    for word in sen:
        if len(word)<min_length:
            min_length=len(word)
            min_word=word
    return min_word

str=input("Enter a string: ")
print('The longest word in the string is:',find_shortest_word(str))

22. Reverse the order of words in a string.

In [ ]:
def apply_reverse(word):
    return word[::-1]

sen=input("Enter a string: ")
for word in sen.split():
    print (apply_reverse(word), end=" ")

23. Check if a string is alphanumeric.

In [ ]:
sen=input("Enter a string: ").split()
sen=''.join(sen)
result=sen.isalnum()
if result:
    print("Input string is alpha-numeric")
else:
    print("Input string is not alpha-numeric")

24. Extract all digits from a string.

In [ ]:
def extract_digits(sen):
    #this function extracts all digits from a string argument, stores it in a list object and returns it
    digits=[]
    for i in list(sen):
        if i.isdigit():
            digits.append(i)
    return digits

sen=input("Enter a string: ")
print("Extracted digits: ", extract_digits(sen))

25. Extract all alphabets from a string.

In [ ]:
def extract_alpha(sen):
    #this function extracts all alphabets from a string argument, stores it in a list object and returns it
    alphabets=[]
    for i in list(sen):
        if i.isalpha():
            alphabets.append(i)
    return alphabets

sen=input("Enter a string: ")
print("Extracted alphabets: ", extract_alpha(sen))

26. Count the number of uppercase letters in a string.

In [ ]:
def count_upper(sen):
    upper_ct=0
    for i in list(sen):
        if i.isupper():
            upper_ct+=1
    return upper_ct

sen=input("Enter a string: ")
print("No. of uppercase: ", count_upper(sen))

27. Count the number of lowercase letters in a string.

In [ ]:
def count_lower(sen):
    upper_ct=0
    for i in list(sen):
        if i.islower():
            upper_ct+=1
    return upper_ct

sen=input("Enter a string: ")
print("No. of uppercase: ", count_lower(sen))

28. Swap the case of each character in a string.

In [ ]:
def swap_case(sen):
    upper_ct=0
    new_str=""
    for i in list(sen):
        
        if i.islower():
            new_str+=i.upper()
            
        elif i.isupper():
            new_str+=i.lower()
            
        else:
            new_str+=i
            
    return new_str

sen=input("Enter a string: ")
print("Input string after swapping case: ", swap_case(sen))

29. Remove a specific word from a string.

In [ ]:
def rem_word(sen, word):
	sen=list(sen)
	sen.remove(word)
	return ' '.join(sen)
    
sen=input("Enter a string: ").split()
word=input("Enter word to remove: ")
print(rem_word(sen, word))

30. Check if a string is a valid email address.

In [ ]:
import re  # Import the regular expression module

def email_validity(sen):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, sen):
        return f'''"{sen}" is a valid email'''
    else:
        return f'''"{sen}" is not a valid email'''
    
sen=input("Enter email: ")
email_validity(sen)

31. Extract the username from an email address string.

In [ ]:
def extract_username(email):
	email.strip()
	return email.split('@')[0] #splitting email string at occurence of '@' and returning the 1st part

email=input("Enter email: ")
print(extract_username(email))

32. Extract the domain name from an email address string.

In [ ]:
def extract_username(email):
	email.strip()
	return email.split('@')[1] #splitting email string at occurence of '@' and returning the 2nd part

email=input("Enter email: ")
print(extract_username(email))

33. Replace multiple spaces in a string with a single space.

In [ ]:
def format_string(sen):
    return ' '.join(sen.split())

sen=input("Enter a string: ")
print(format_string(sen))

34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

url=input("Enter a URL: ")
result=is_valid_url(url)
print(result)

35. Extract the protocol (http or https) from a URL string.

In [ ]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
    
url=input("Enter a URL: ")
protocol=extract_protocol(url)
print(protocol)

36. Find the frequency of each character in a string.

In [ ]:
def character_frequency(sen):
    frequency={}  #empty dictionary to store character frequencies

    for char in sen:
        if char in frequency:
            frequency[char]+=1  #Increment the frequency count if the character in dictionary
        else:
            frequency[char]=1   #Initialize the frequency count to 1 if the character not in dictionary

    return frequency

sen=input("Enter a string: ")
res=character_frequency(sen)
for char, f in res.items():    #dictionary comprehension
    print(f"Character:  '{char}'     Frequency:  {f}")

37. Remove all punctuation from a string.

In [ ]:
import re
def remove_punc(sen):
    return re.sub('[^a-zA-Z]\s', ' ', sen)

sen=input("Enter a string: ")
print("Without punctutation: ", remove_punc(sen))

38. Check if a string contains only digits.

In [ ]:
def check_string_digit(s):
    return s.isdecimal()
    
string=input("Enter a string: ")
print(check_string_digit(string))

39. Check if a string contains only alphabets.

In [ ]:
def check_string_alpha(s):
    return s.isdalpha()
    
string=input("Enter a string: ")
print(check_string_alpha(string))

40. Convert a string to a list of characters.

In [ ]:
def split_string(s):
	return list(s.strip())

string=input("Enter a string: ")
print(split_string(string))

41. Check if two strings are anagrams.

In [ ]:
def anagram_check(s1,s2):
    s1=s1.replace(" ","").lower()
    s2=s2.replace(" ","").lower()
    return sorted(s1)==sorted(s2)

s1=input("Enter 1st string: ")
s2=input("Enter 2nd string: ")
print(anagram_check(s1,s2))

42. Encode a string using a Caesar cipher.

In [ ]:
def generate_cypher(msg, key):
    caesar=""  #to store the cypher text
    msg=msg.lower()
    for char in list(msg):
        if char.isalpha():
            caesar+=chr((ord(char)+key-ord('a')) % 26 + ord('a'))  #calculates cypher character using key(shift) value
        else:
            caesar+=char
            
    return caesar

msg=input("Enter message to encrypt: ")
key=int(input("Enter key: "))
generate_cypher(msg,key)

43. Decode a Caesar cipher encoded string.

In [ ]:
def generate_plaintext(cipher, key):
    plaintext=""  #to store the cypher text
    cipher=cipher.lower()
    for char in list(cipher):
        if char.isalpha():
            plaintext+=chr((ord(char) -key -ord('a')) % 26 + ord('a'))  #calculates plaintext character using key(shift) value
        else:
            plaintext+=char
            
    return plaintext

cipher=input("Enter message to decrypt: ")
key=int(input("Enter key: "))
generate_plaintext(cipher,key)

44. Find the most frequent word in a string.

In [ ]:
from collections import Counter
import re

def most_frequent_word(s):
    s=re.sub(r'[^\w\s]','', s).lower()  # the regular expression "[^\w\s]"
    s=s.split()
    return Counter(s)  #returns a dictionary object of frequencies of each occurence (key:value pair)
most_frequent_word(input("Enter a string: "))

45. Find all unique words in a string.

In [ ]:
from collections import Counter
import re

def unique_word(s):
    s=re.sub(r'[^\w\s]','', s).lower()  # the regular expression "[^\w\s]"
    return set(s.split())
    

unique_word(input("Enter a string: "))

46. Count the number of syllables in a string.

In [ ]:
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)  # Count vowel groups using regular expression

    return len(vowel_groups)

sen=input("Enter a string: ")
print(f"'{sen}' has {count_syllables(sen)} syllables")

47. Check if a string contains any special characters.

In [ ]:
import re

def check_special_char(s):
    
    
sen=input("Enter a string: ")
print(f"'{sen}' has special characters: {check_special_char(sen)}")

48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(sen,n):
    sen=list(sen.split())
    sen.remove(sen[n-1])
    return ' '.join(sen)

sen,n=input("Enter a string: "),int(input("Enter position of word to remove: "))
remove_nth_word(sen,n)

49. Insert a word at the nth position in a string.

In [ ]:
def remove_nth_word(sen,n,word):
    sen=list(sen.split())
    sen.insert(n-1,word)
    return ' '.join(sen)

sen,n,word=input("Enter a string: "),int(input("Enter position to insert word: ")), input("Enter word to insert: ")
remove_nth_word(sen,n,word)

50. Convert a CSV string to a list of lists.

In [ ]:
def csv_string_to_list(sen):
    line=sen.split('\n')
    res=[]
    for l in line:
        res.append(l.split(','))
        
    return res

csv_string=input("Enter csvstring: ")
res=csv_string_to_list(csv_string)
for l in res:
    print(l,end="\n")

# TOPIC: List based practice problem :

1. Create a list with integers from 1 to 10.

In [ ]:
list=[i for i in range(1,11)]
print(list)

2. Find the length of a list without using the len() function.

In [ ]:
def list_length(l):
    ct=0
    for i in l:
        ct+=1
    return ct

input_list=[1,2,3,4,5,6,7,8]
print(f"Length of '{input_list}'   is   {list_length(input_list)}")

3. Append an element to the end of a list.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
my_list.append(input("Enter element to append: "))
print(my_list)

4. Insert an element at a specific index in a list.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
my_list.insert(int(input("Enter position to insert element: "))-1,input("Enter element to append: "))
print(my_list)

5. Remove an element from a list by its value.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
my_list.remove(int(input("Enter element to remove: ")))
print(my_list)

6. Remove an element from a list by its index.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
my_list.pop(int(input("Enter index of element to remove: ")))
print(my_list)

7. Check if an element exists in a list.

In [ ]:
def check_ele(l, ele):
    if ele in l:
        return True
    else:
        return False

my_list=[1,2,3,4,5,6,7,8]
ele=int(input("Enter element to check: "))
check_ele(my_list,ele)

8. Find the index of the first occurrence of an element in a list.

In [ ]:
def check_ele(l, ele):
    if ele in l:
        return l.index(ele)
    else:
        return f"{ele} not in {l}"

my_list=[1,2,3,4,5,6,7,8]
ele=int(input("Enter element to check: "))
check_ele(my_list,ele)

9. Count the occurrences of an element in a list.

In [ ]:
def check_ele(l, ele):
    ct=0
    if ele in l:
        ct+=1
    
    return f"{ele} occurs {ct} times in {l}"

my_list=[1,2,3,4,5,6,7,8]
ele=int(input("Enter element to check: "))
check_ele(my_list,ele)

10. Reverse the order of elements in a list.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
my_list.reverse()
print(my_list)

11. Sort a list in ascending order.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
my_list.sort()
print(my_list)

12. Sort a list in descending order.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
my_list.sort(reverse=True)
print(my_list)

13. Create a list of even numbers from 1 to 20.

In [ ]:
my_list=[i for i in range(1,21) if i%2==0]
print(my_list)

14. Create a list of odd numbers from 1 to 20.

In [ ]:
my_list=[i for i in range(1,21) if i%2!=0]
print(my_list)

15. Find the sum of all elements in a list.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
print(sum(my_list))

16. Find the maximum value in a list.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
print(max(my_list))

17. Find the minimum value in a list.

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
print(min(my_list))

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
my_list=[i*i for i in range(1,11)]
print(my_list)

19. Create a list of random numbers.

In [ ]:
import random
my_list=[random.randint(1, 100) for i in range(1,11)]
print(my_list)

20. Remove duplicates from a list.

In [ ]:
my_list=[1,2,3,4,5,6,7,8,7,8,5,3,12]
print(list(set(my_list)))

21. Find the common elements between two lists.

In [ ]:
list1=[1,2,3,4,5,6,7,8,7,8,5,3,12]
list2=[1,2,3,5,3,12]
res=set(filter(lambda x: x in list1, list2))
print(res)

22. Find the difference between two lists.

In [ ]:
list1=[1,2,3,4,5,6,7,8,7,8,5,3,12]
list2=[1,2,3,5,3,12]
res=set(list1).difference(list2)
print(res)

23. Merge two lists.

In [ ]:
list1=[1,2,3,4,5,6,7,8,7,8,5,3,12]
list2=[1,2,3,5,3,12]
res=list1+list2
print(res)

24. Multiply all elements in a list by 2.

In [ ]:
list1=[1,2,3,5,3,12]
print([i*2 for i in list1])

25. Filter out all even numbers from a list.

In [ ]:
list1=[1,2,3,4,5,6,7,8,7,8,5,3,12]
res=[i for i in list1 if i%2==0]
print(res)

26. Convert a list of strings to a list of integers.

In [ ]:
my_list=["10", "20", "30", "40", "50"]
my_list=map(int, my_list)
print(list(my_list))

27. Convert a list of integers to a list of strings.

In [ ]:
my_list=[1,2,3,4,5,6,7,8,7,8,5,3,12]
my_list=map(str, my_list)
print(list(my_list))

28. Flatten a nested list.

In [ ]:
my_list=[[1, 2, 3], [4, 5], [6, 7, 8, 9]]
res=[x for sublist in my_list for x in sublist]
print(res)

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
def generate_fibonacci(n):
    if n<=1:
        return n
    else:
        return generate_fibonacci(n-1)+ generate_fibonacci(n-2)
    
res=list(map(generate_fibonacci, [x for x in range(1,11)]))
print(res)

30. Check if a list is sorted.

In [ ]:
my_list=[1,2,3,4,5,6,7,8,7,8,5,3,12]
sorted_list=sorted(my_list)
print(f"'{my_list}' is sorted" if my_list==sorted_list else f"'{my_list}' is not sorted")

31. Rotate a list to the left by `n` positions.

In [ ]:
my_list=[1,2,3,4,5,6,7]
n=int(input("Enter no. of positions to rotate: "))
n=n%len(my_list)
res=my_list[n::]+my_list[:n:]
print(res)

32. Rotate a list to the right by `n` positions.

In [ ]:
my_list=[1,2,3,4,5,6,7]
n=int(input("Enter no. of positions to rotate: "))
n=n%len(my_list)
res=my_list[-n::]+my_list[:-n:]
print(res)

33. Create a list of prime numbers up to 50.

In [ ]:
def check_prime(n):
    ft=[x for x  in range(2,n) if n%x==0]
    
    if n<=1:
        return False
    elif len(ft)>0:
        return False
    else:
        return True
    
res=[x for x in range(1,51) if check_prime(x)]
print(res)

34. Split a list into chunks of size n.

In [ ]:
def split_list(lst,n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
        
lst=[1,2,3,4,5,6,7,8,7,8,5,3,12]
n=int(input("Enter size of chunks to split into: "))
res=list(split_list(lst,n))
print(res)

35. Find the second largest number in a list.

In [ ]:
lst=[1,2,3,4,5,6,7,8,7,8,5,3,12]
lst=sorted(lst)
print(lst[-2])

36. Replace every element in a list with its square.

In [ ]:
lst=[1,2,3,4,5,6,7,8,7,8,5,3,12]
lst=[x**2 for x in lst]
print(lst)

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
lst=[1,2,3,4,5,6,7,8,7,8,5,3,12]
dict={x:lst.index(x) for x in lst}
print(dict)

38. Shuffle the elements of a list randomly.

In [ ]:
import random
lst=[1,2,3,4,5,6,7,8,7,8,5,3,12]
random.shuffle(lst)
print(lst)

39. Create a list of the first 10 factorial numbers.

In [ ]:
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)
    
print([fact(i) for i in range(10)])

40. Check if two lists have at least one element in common.

In [ ]:
def check_common(a,b):
    return any(i in b for i in a)

list1=[1,2,3,4,5,6]
list2=[1,2,3,5,3,12]
if check_common(list1,list2):
    print("The lists have atleast 1 common element")
else:
    print("The lists have no common element")

41. Remove all elements from a list.

In [ ]:
list1=[1,2,3,4,5,6]
list1.clear()
print(list1)

42. Replace negative numbers in a list with 0.

In [ ]:
lst=[1,-2,3,4,5,6,7,-8,7,8,5,3,-12]
lst=list(map(lambda x: 0 if x<0 else x, lst))
print(lst)

43. Convert a string into a list of words.

In [ ]:
sen=input("Enter a string with multiple words: ")
sen=sen.split()
print(sen)

44. Convert a list of words into a string.

In [ ]:
lst=['I', 'am', 'Boy']
lst=' '.join(lst)
print(lst)

45. Create a list of the first `n` powers of 2.

In [ ]:
n=int(input("Enter a value for n: "))
lst=[2**x for x in range(1,n+1)]
print(lst)

46. Find the longest string in a list of strings.

In [ ]:
def longest_string(lst):
    ct=0
    ln=""
    for wd in lst:
        if len(wd)>ct:
            ct=len(wd)
            ln=wd
    
    return ln

lst=['elephant', 'hippopotamus', 'kangaroo', 'monkey', 'phantom', 'zird']
print(f"The longest word in the list is {longest_string(lst)}")

47. Find the shortest string in a list of strings.

In [ ]:
def shortest_string(lst):
    ct=len(lst[0])
    ln=""
    for wd in lst:
        if len(wd)<ct:
            ct=len(wd)
            ln=wd
    
    return ln

lst=['elephant', 'hippopotamus', 'kangaroo', 'monkey', 'phantom', 'zird']
print(f"The shortest word in the list is {shortest_string(lst)}")

48. Create a list of the first `n` triangular numbers.

In [ ]:
n=int(input("Enter a value of n: "))
lst=list(map(lambda x: x*(x+1)//2, list(range(1,n+1))))
print(lst)

49. Check if a list contains another list as a subsequence.

In [ ]:
def is_sub(lst1,lst2):
    return all(x in lst1 for x in lst2)
            

list1 = [1, 2, 3, 4, 8, 9, 10]
list2 = [3, 4, 89]
if (is_sub(list1,list2)):
    print(f"'{list2}' is a subsequence of '{list1}'")
else:
    print(f"'{list2}' is not a subsequence of '{list1}'")

50. Swap two elements in a list by their indices.

In [ ]:
l=[1, 2, 3, 4, 8, 9, 10]
print("Before swap: ",l)
i1,i2=map(int ,input("Enter indices of elements to swap: ").split())
t=l[i1]
l[i1]=l[i2]
l[i2]=t
print("After swap: ",l)

# Topic: Tuple based practice problem

1. Create a tuple with integers from 1 to 5.

In [ ]:
tup=tuple(range(1,6))
print(tup)

2. Access the third element of a tuple.

In [ ]:
tup=tuple(range(1,6))
print(f"3rd element of '{tup}':  {tup[2]}")

3. Find the length of a tuple without using the len() function.

In [ ]:
tup=tuple(range(1,6))
ct=0
for i in tup:
    ct+=1
    
print(f"Length of '{tup}' is:  {ct}")

4. Count the occurrences of an element in a tuple.

In [ ]:
def check_ele(l, ele):
    ct=0
    if ele in l:
        ct+=1
    
    return f"{ele} occurs {ct} times in {l}"

tup=tuple(range(1,6))
ele=int(input("Enter element to check: "))
check_ele(tup,ele)

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
def check_ele(l, ele):
    if ele in l:
        return l.index(ele)
    else:
        return f"{ele} not in {l}"

tup=tuple(range(1,6))
ele=int(input("Enter element to check: "))
check_ele(tup,ele)

6. Check if an element exists in a tuple.

In [ ]:
def check_ele(l, ele):
    if ele in l:
        return f"{ele} exists in {l}"
    else:
        return f"{ele} does not exist in {l}"

tup=tuple(range(1,6))
ele=int(input("Enter element to check: "))
check_ele(tup,ele)

7. Convert a tuple to a list.

In [ ]:
tup=tuple(range(1,6))
tup=list(tup)
print(tup)

8. Convert a list to a tuple.

In [ ]:
lst=[x for x in range(1,6)]
lst=tuple(lst)
print(lst)

9. Unpack the elements of a tuple into variables.

In [ ]:
a,b,c,d,e=tuple(map(int, input("Enter 5 numbers: ").split()))
print(f"\na= {a}  \nb= {b}  \nc= {c}  \nd= {d}  \ne= {e}")

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
tup=tuple(x for x in range(1,11) if x%2==0)
print(tup)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
tup=tuple(x for x in range(1,11) if x%2!=0)
print(tup)

12. Concatenate two tuples.

In [ ]:
tup1=(2, 4, 6, 8, 10)
tup2=(1, 3, 5, 7, 9)
print(tup1+tup2)

13. Repeat a tuple three times.

In [ ]:
tup=(1, 3, 5, 7, 9)
print(tup*3)

14. Check if a tuple is empty.

In [ ]:
tup=(1, 3, 5, 7, 9)
print("Tuple is empty" if len(tup)==0 else "Tuple is not empty")

15. Create a nested tuple.

In [ ]:
tup=((1, 3), (5), (7, 9))
print(tup)

16. Access the first element of a nested tuple.

In [ ]:
tup=((1, 3), (5), (7, 9))
print(tup[0])

17. Create a tuple with a single element.

In [ ]:
tup=(5,)
print(tup)

18. Compare two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

19. Delete a tuple.

In [ ]:
tup=((1, 3), (5), (7, 9))
del tup
print(tup)

20. Slice a tuple.

In [ ]:
tup=(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
print(tup[1:6])

21. Find the maximum value in a tuple.

In [ ]:
tup=(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
print(max(tup))

22. Find the minimum value in a tuple.

In [ ]:
tup=(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
print(min(tup))

23. Convert a string to a tuple of characters.

In [ ]:
st="Ritwick"
print(tuple(st))

24. Convert a tuple of characters to a string.

In [ ]:
tup=('R', 'i', 't', 'w', 'i', 'c', 'k')
tup=''.join(tup)
print(tup)

25. Create a tuple from multiple data types.

In [ ]:
data=("Ritwick Roy",23,"Graduate",("Piano","Bass","Guitar"), True)
print(data)

26. Check if two tuples are identical.

In [ ]:
tup1=(1,2,3)
tup2=(1,2,3)
tup3=(1,2,1)
print(f"'{tup1}' and '{tup2}' are identical: {tup1==tup2}")
print(f"'{tup1}' and '{tup3}' are identical: {tup1==tup3}")

27. Sort the elements of a tuple.

In [ ]:
tup=(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
tup=tuple(sorted(tup))
print(tup)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
tup=(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
tup=tuple(map(str, tup))
print(tup)

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tup=('2', '4', '6', '8', '10', '1', '3', '5', '7', '9')
tup=tuple(map(int, tup))
print(tup)

30. Merge two tuples.

In [ ]:
tup1=(2, 4, 6, 8, 10)
tup2=(1, 3, 5, 7, 9)
print(tup1+tup2)

31. Flatten a nested tuple.

In [ ]:
def flatten_tuple(nested_tuple):
    stack = [nested_tuple]
    flattened_list = []
     
    while stack:
        top = stack.pop()
        if isinstance(top, tuple):
            stack.extend(top)
        else:
            flattened_list.append(top)
     
    return tuple(flattened_list)

tup=((1, 3), (5), (7, 9))
print(flatten_tuple(tup))

32. Create a tuple of the first 5 prime numbers.

In [ ]:
def check_prime(n):
    ft=[x for x  in range(2,n) if n%x==0]
    
    if n<=1:
        return False
    elif len(ft)>0:
        return False
    else:
        return True
    
ct=0
res=[]
for i in range(100):
    if ct>=5:
        break
    else:
        if check_prime(i):
            res.append(i)
            ct+=1
            
res=tuple(res)
print(res)

33. Check if a tuple is a palindrome.

In [ ]:
def check_palin(data):
    temp=data=list(data)
    temp.reverse()
    return data==temp
    
tup=(1,2,1)
print(f"'{tup}' is palindrome: {check_palin(tup)}")

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
tup=tuple(i**2 for i in range(1,6))
print(tup)

35. Filter out all even numbers from a tuple.

In [ ]:
tup=(1,2,3,4,5,6,7,8,9)
filter_tup=tuple(x for x in tup if x%2==0)
print(filter_tup)

36. Multiply all elements in a tuple by 2.

In [ ]:
tup=(1,2,3,4,5,6,7,8,9)
tup=tuple(x*2 for x in tup)
print(tup)

37. Create a tuple of random numbers.

In [ ]:
import random as rnd
tup=tuple(rnd.randint(1,100) for x in range(1,11))
print(tup)

38. Check if a tuple is sorted.

In [ ]:
def check_sorted(bleh):
    temp=sorted(list(bleh))
    return tuple(temp)==bleh

tup1=(41, 21, 96, 6, 85, 72, 90, 15, 78, 65)
tup2=(1,2,3,4,5,6,7,8,9)

print(f"'{tup1}' is sorted: {check_sorted(tup1)}")
print(f"'{tup2}' is sorted: {check_sorted(tup2)}")

39. Rotate a tuple to the left by `n` positions.

In [ ]:
tup=(1,2,3,4,5,6,7)
n=int(input("Enter no. of positions to rotate: "))
n=n%len(tup)
res=tup[n::]+tup[:n:]
print(res)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
tup=(1,2,3,4,5,6,7)
n=int(input("Enter no. of positions to rotate: "))
n=n%len(tup)
res=tup[-n::]+tup[:-n:]
print(res)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def get_fibo(n):
    if n<=1:
        return 1
    else:
        return get_fibo(n-1)+get_fibo(n-2)
    
tup=tuple(get_fibo(x) for x in range(0,5))
print(tup)

42. Create a tuple from user input.

In [ ]:
tup=tuple(input("Enter tuple elements separated by space: ").split())
print(tup)

43. Swap two elements in a tuple.

In [ ]:
tup=(1,2,3,4,5,6,7)
tup=list(tup)
m,n=map(int,input("Enter indexes of elements to swap: ").split())
temp=tup[m]
tup[m]=tup[n]
tup[n]=temp
tup=tuple(tup)
print(tup)

44. Reverse the elements of a tuple.

In [ ]:
tup=(1,2,3,4,5,6,7)
tup=list(tup)
tup=tup[::-1]
tup=tuple(tup)
print(tup)

45. Create a tuple of the first `n` powers of 2.

In [ ]:
n=int(input("Enter value of n: "))
tup=tuple(2**n for n in range(1,n+1))
print(tup)

46. Find the longest string in a tuple of strings.

In [ ]:
def longest_string(lst):
    ct=len(lst[0])
    ln=""
    for wd in lst:
        if len(wd)>ct:
            ct=len(wd)
            ln=wd
    
    return ln

tup=('elephant', 'hippopotamus', 'kangaroo', 'monkey', 'phantom', 'zird')
print(f"The longest word in the tuple is {longest_string(tup)}")

47. Find the shortest string in a tuple of strings.

In [ ]:
def shortest_string(lst):
    ct=len(lst[0])
    ln=""
    for wd in lst:
        if len(wd)<ct:
            ct=len(wd)
            ln=wd
    
    return ln

tup=('elephant', 'hippopotamus', 'kangaroo', 'monkey', 'phantom', 'zird')
print(f"The shortest word in the tuple is {shortest_string(tup)}")

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
n=int(input("Enter a value of n: "))
tup=tuple(map(lambda x: x*(x+1)//2, list(range(1,n+1))))
print(tup)

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
def is_sub(tup1,tup2):
    return all(x in tup1 for x in tup2)
            

tup1 = (1, 2, 3, 4, 8, 9, 10)
tup2 = (3, 4, 8)
if (is_sub(tup1,tup2)):
    print(f"'{tup2}' is a subsequence of '{tup1}'")
else:
    print(f"'{tup2}' is not a subsequence of '{tup1}'")

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
n=int(input("Enter value of n: "))
tup=tuple(map(lambda x: 0 if x%2==0 else 1, [n for n in range(1,n+1)]))
print(tup)

# TOPIC: Set Based Practice Problem

1. Create a set with integers from 1 to 5.

In [ ]:
my_set=set(x for x in range(1,6))
print(my_set)

2. Add an element to a set.

In [ ]:
my_set=set(x for x in range(1,6))
n=int(input("Enter element to add to set: "))
my_set.add(n)
print(my_set)

3. Remove an element from a set.

In [ ]:
my_set=set(x for x in range(1,6))
print(my_set)
n=int(input("Enter element to remove from set: "))
my_set.remove(n)
print(my_set)

4. Check if an element exists in a set.

In [ ]:
my_set=set(x for x in range(1,9))
n=int(input("Enter element to search in set: "))
if n  in my_set:
	print(f"'{n}' is present in set: '{my_set}'")
else:
    print(f"'{n}' is not present in set: '{my_set}'")

5. Find the length of a set without using the `len()` function.

In [ ]:
def get_length(s):
    ct=0
    for i in s:
        ct+=1
        
    return ct

my_set=set(x for x in range(1,9))
print(f"Length of '{my_set}' is: {get_length(my_set)}")

6. Clear all elements from a set.

In [ ]:
my_set=set(x for x in range(1,9))
print("Before clearing: ",my_set)
my_set.clear()
print("After clearing: ",my_set)

7. Create a set of even numbers from 1 to 10.

In [ ]:
my_set=set(x for x in range(1,11) if x%2==0)
print(my_set)

8. Create a set of odd numbers from 1 to 10.

In [ ]:
my_set=set(x for x in range(1,11) if x%2!=0)
print(my_set)

9. Find the union of two sets.

In [ ]:
set1={2, 4, 6, 8, 10}
set2={1, 3, 5, 7, 9}
res=set1.union(set2)
print(res)

10. Find the intersection of two sets.

In [ ]:
set1={2, 4, 45, 6, 8, 10}
set2={1, 3, 45, 5, 7, 9}
res=set1.intersection(set2)
print(res)

11. Find the difference between two sets.

In [ ]:
set1={2, 4, 45, 6, 8, 10}
set2={1, 3, 45, 5, 7, 9}
res=set1.difference(set2)
print(res)

12. Check if a set is a subset of another set.

In [ ]:
set1={2, 4, 45, 6, 8, 10}
set2={2, 4, 8}
res=set2.issubset(set1)
print(res)

13. Check if a set is a superset of another set.

In [ ]:
set1={2, 4, 45, 6, 8, 10}
set2={2, 4, 8}
res=set1.issuperset(set2)
print(res)

14. Create a set from a list.

In [ ]:
lst=[x for x in range(1,13)]
my_set=set(x for x in lst if x%2==0)
print(my_set)

15. Convert a set to a list.

In [ ]:
lst=[x for x in range(1,13)]
my_set=set(lst)
print(my_set)

16. Remove a random element from a set.

In [ ]:
import random
my_set=set(x for x in range(1,11))
print("Before random remove operation: ",my_set)
my_set.remove(random.choice(list(my_set)))
print("After random remove operation: ",my_set)

17. Pop an element from a set.

In [ ]:
my_set=set(x for x in range(1,11))
print(my_set)
print("Popped element: ",my_set.pop())

18. Check if two sets have no elements in common.

In [ ]:
set1={2, 4, 6, 8, 10}
set2={1, 3, 5, 7, 9}
res=0 if set1.intersection(set2)==set() else True
print("Set 1: ",set1)
print("Set 2: ",set2)
print("Common elements in the sets: ",res)

19. Find the symmetric difference between two sets.

In [ ]:
set1={2, 4, 45, 6, 8, 10}
set2={2, 4, 8}
res=set1.symmetric_difference(set2)
print(res)

20. Update a set with elements from another set.

In [ ]:
set1={2, 4, 45, 6, 8, 10}
print("Before update: ",set1)
set2={1, 3, 5, 7}
set1.update(set2)
print("After update: ",set1)

21. Create a set of the first 5 prime numbers.

In [ ]:
my_set={2,3,5,7,11}
print(my_set)

22. Check if two sets are identical.

In [ ]:
set1={1,2,3}
set2={1,2,3}
set3={3,4,5}
print(f"'{set1}' is identical to '{set2}': {set1==set2}")
print(f"'{set2}' is identical to '{set3}': {set3==set2}")

23. Create a frozen set.

In [ ]:
my_set={2,3,5,7,11}
my_frozenset=frozenset(my_set)
print(my_frozenset)

24. Check if a set is disjoint with another set.

In [ ]:
set1={2, 4, 45, 6, 8, 10}
set2={1, 3, 5, 7}
print(f"Are '{set1}' and '{set2}' disjoint? : {set1.isdisjoint(set2)}")

25. Create a set of squares of numbers from 1 to 5.

In [ ]:
my_set=set(x**2 for x in range(1,6))
print(my_set)

26. Filter out all even numbers from a set.

In [4]:
my_set=set(x for x in range(1,13))
print(f"Original set: {my_set}")
filtered_set=set(x for x in my_set if x%2==0)
print(f"Filtered set: {filtered_set}")

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Filtered set: {2, 4, 6, 8, 10, 12}

27. Multiply all elements in a set by 2.

In [7]:
my_set=set(x for x in range(1,6))
print(f"Original set: {my_set}")
filtered_set=set(x*2 for x in my_set)
print(f"Modified set: {filtered_set}")

Original set: {1, 2, 3, 4, 5}
Modified set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [15]:
import random
my_set=set(random.randint(0,100) for x in range(1,11))
print(my_set)

{64, 0, 32, 4, 73, 51, 21, 85, 86, 59}

29. Check if a set is empty.

In [16]:
my_set=set()
if not my_set:
    print("Set is empty")
else:
    print("Not empty")

Set is empty

30. Create a nested set (hint: use frozenset).

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [18]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
ele=int(input("Enter element to remove: "))
my_set.discard(ele)
print("Set after removing", ele, ":", my_set)

Original set: {1, 2, 3, 4, 5}

Enter element to remove:  5

Set after removing 5 : {1, 2, 3, 4}

32. Compare two sets.

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [20]:
sen = input("Enter a string: ")
char_set = set(sen)
print(char_set)

Enter a string:  Ritwick

{'c', 'w', 't', 'k', 'R', 'i'}

34. Convert a set of strings to a set of integers.

In [2]:
my_set={'1','2','3','4','5','6','7','8','9','10'}
print("Before conversion: ",my_set)
my_set=set(map(int, {x for x in my_set}))
print("After conversion: ",my_set)

Before conversion:  {'7', '5', '8', '9', '1', '2', '6', '10', '4', '3'}
After conversion:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

35. Convert a set of integers to a set of strings.

In [3]:
my_set={1,2,3,4,5,6,7,8,9,10}
print("Before conversion: ",my_set)
my_set=set(map(str, {x for x in my_set}))
print("After conversion: ",my_set)

Before conversion:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
After conversion:  {'7', '5', '8', '9', '1', '2', '6', '10', '4', '3'}

36. Create a set from a tuple.

In [4]:
tup=(1,2,3,4,5,6,7,8,9,10)
print("Before conversion: ",tup)
my_set=set(tup)
print("After conversion: ",my_set)

Before conversion:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
After conversion:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

37. Convert a set to a tuple.

In [5]:
my_set={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("Before conversion: ",my_set)
tup=tuple(my_set)
print("After conversion: ",tup)

Before conversion:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
After conversion:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

38. Find the maximum value in a set.

In [8]:
my_set={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("Max. value: ",max(my_set))

Max. value:  10

39. Find the minimum value in a set.

In [9]:
my_set={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("Min. value: ",min(my_set))

Min. value:  1

40. Create a set from user input.

In [10]:
my_set=set(map(int,input("Enter set elements: ").split()))
print(my_set)

Enter set elements:  1 2 3 4 5 6 7 8 9

{1, 2, 3, 4, 5, 6, 7, 8, 9}

41. Check if the intersection of two sets is empty.

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
if set1.intersection(set2)==set():
    print("Intersection of two sets is empty.")
else:
    print("Intersection of two sets is non-empty.")

Intersection of two sets is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [15]:
def generate_fibonacci(n):
    if n<=1:
        return n
    else:
        return generate_fibonacci(n-1)+ generate_fibonacci(n-2)
    
res=set(map(generate_fibonacci, [x for x in range(0,6)]))
print(res)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [17]:
lst=[1,1,2,5,9,4,2,9,6]
my_set=set(lst)
print("Original List: ",lst)
print("List with duplicates removed: ",list(my_set))

Original List:  [1, 1, 2, 5, 9, 4, 2, 9, 6]
List with duplicates removed:  [1, 2, 4, 5, 6, 9]

44. Check if two sets have the same elements, regardless of their count.

In [18]:
def have_same_elements(set1, set2):
    list1 = sorted(list(set1))
    list2 = sorted(list(set2))
    return list1 == list2

set1={1, 2, 3, 2, 1}
set2={3, 1, 2}

result=have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [23]:
n=int(input("Enter a value of n: "))
my_set=set(2**x for x in range(n))
print(my_set)

Enter a value of n:  5

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [24]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)

common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers.:

In [25]:
n=int(input("Enter a value of n: "))
my_set=set(map(lambda x: x*(x+1)//2, list(range(1,n+1))))
print(my_set)

Enter a value of n:  5

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [26]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [29]:
n=int(input("Enter value of n: "))
my_set=set(map(lambda x: 0 if x%2==0 else 1, [n for n in range(1,n+1)]))
print(my_set)

Enter value of n:  5

{0, 1}

50. Merge multiple sets into one.

In [32]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}